{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">File Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <form action="META/analyse/" method = "POST">
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          {% csrf_token %}
          <input type="hidden" name="name" value="{{obj.document}}">
          <small>(name is: {{ obj.document}})</small>
          <button type="submit">Analyse</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}